.App {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
}

Button {
    width: 60px;
    background-color: salmon;
    font-weight: bolder;
    border: dashed;
}

.App h1 {
    font-family: fantasy;
}